@import "../../../../../../utils/scss/variables";

.game-progress-bar {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
}

.progress-bar-wrapper {
  height: 20px;
  border-radius: 6px;
  width: 97%;
  margin-left: 3%;
  overflow: hidden;
  position: relative;

  .progress-bar {
    background-color: $primary;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.user-progress-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__username {
    text-align: center;
    margin: 0;
    width: 5rem;
    font-size: 1.3rem;
  }

  &_self {
    order: -1;
    .progress-bar {
      background-color: $green;
    }
  }

  &_leave {
    order: 1;
    .progress-bar {
      background-color: gray;
    }
  }
}