@import "../../../../node_modules/bootstrap/scss/bootstrap";

.select {
  display: block;
  width: 20rem;
  max-width: 80%;

  select {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}