@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

.select {
  display: block;
  width: 20rem;

  .create-room-page__members-range {
    max-width: 800px;
    width: 80%;

    .custom-range {
    }
  }
}