@import "./../../../../utils/scss-variables/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

.zero-rooms-content {
  padding: 0 0.5rem;
  height: $content-min-height;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  .zero-rooms-content {
    &__create-button {
      height: 5rem;
      width: 20rem;
      margin: auto;
    }
  }
}