@import "../../../utils/scss-variables/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

.page-content {
  min-height: $content-min-height;

  &__main {
    padding: 0.5rem 0;
  }

  &__main, &__aside {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__room-card {
    margin-top: 2rem;
  }
}


@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .page-content {
    &__aside {
      width: 100% - 5;
      margin: auto;
      padding: 1rem 0;
      border-bottom: 1px solid $primary;
    }

    &__aside-button {
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  .page-content {
    position: relative;

    &__main {
      width: 70%;
    }

    &__aside {
      height: $content-min-height - 5;
      border-left: 1px solid $primary;
      position: fixed;
      right: 0;
      top: $header-height + 2.5;
      width: 30%;
    }

    &__aside-button {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  &__aside-button {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .page-content {
    &__aside-button {
      font-size: 2rem;
    }
  }
}


