@import "../../../utils/scss/variables";

.rating-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  height: $content-min-height;
}

.rating-content {
  position: relative;
  width: 40rem;
  height: 100%;
  max-width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;

  &__user-rating-card {
    margin-top: 1.5rem;
  }

  &__select {
    width: 100%;
    text-align: center;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

