@import "../../../utils/scss/variables";

.root-page {
  height: $content-min-height;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &__info {
    margin-bottom: 4rem;
  }
}

.start-button {
  font-size: 2rem;
  width: 20rem;
  height: 6rem;
}