.auth-form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  width: 80%;

  &__link-to-register {
    display: block;
    margin: 1rem auto 0;
  }

  &__submit {
    margin: 3rem auto 0;
    width: 40%;
  }

  &__error-message {
    color: #F44336;
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}

