@import "../../utils/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

html, body, #root, .App {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $primary;
}

.App {
    position: relative;

    .main-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-color: $primary;
    }

    &__auth-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


.auth-button {
    font-size: 2rem;
    width: 20rem;
    height: 6rem;
}