@import "./src/utils/scss-variables/variables";
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

html, body, #root, .App {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

.App {
    .main-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-color: $dark;
    }
}