@import "../../../../utils/scss-variables/variables";

.game-page {
  height: $content-min-height;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__countdown-timer {
    font-size: 10rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__typing-state-container {
    margin-top: 4rem;
  }

  &__progress-bar {
    margin-top: 1rem;
  }
}