@import "../../../utils/scss/variables";

.user-card {
  border: 1px solid $primary;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    display: block;
    font-size: 1.6rem;
    background-color: $primary;
    border-bottom: 1px solid $primary;
  }

  &__body {
    padding-top: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
