@import "./src/utils/scss-variables/variables";
@import "~bootstrap/scss/bootstrap";

.search-room {
  min-height: $content-min-height;

  &__rooms {
    padding: 0.5rem 0;
  }

  &__create-own-room {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .search-room {
    &__create-own-room {
      width: 100% - 5;
      margin: auto;
      padding: 1rem 0;
      border-bottom: 1px solid $dark;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  .search-room {
    position: relative;

    &__rooms {
      width: 70%;
    }

    &__create-own-room {
      height: $content-min-height - 5;
      border-left: 1px solid $dark;
      position: fixed;
      right: 0;
      top: $header-height + 2.5;
      width: 30%;
    }
  }
}


