
$header-height: 10vh;

$content-min-height: 100vh - $header-height;


// colors

$primary: #343a40;

$secondary: #6c757d;

$gray: #6c757d;

$green: #00e676;

$transparent-secondary: rgba($secondary, 0.5);

$text-color: white;



// breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
