
$header-height: 10vh;

$content-min-height: 100vh - $header-height;


// colors

$dark: #343a40;

$secondary: #6c757d;

$gray: #6c757d;

$transparent-secondary: rgba($secondary, 0.5);

$text-color: white;