.auth-input {
  &__icon {
    position: absolute;
    left: -2.3rem;
    top: 0.5rem;
  }

  &__error-message {
    color: #F44336;
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}