@import "~bootstrap/scss/bootstrap";
@import "src/utils/scss-variables/variables";


.header {
  display: flex;
  text-align: center;
  z-index: 100;
  min-height: $header-height;
  font-size: 1.3rem;
}

@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  .header__left-side, .header__right-side {
    flex-flow: column nowrap;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .header {
    flex-flow: row nowrap;

    &__left-side, &__right-side {
      display: flex;
      flex-flow: row nowrap;
    }

    &__left-side {
      margin-left: 1rem;
    }

    &__right-side {
      margin-left: auto;
    }
  }
}