@import "./../../../utils/scss/variables";

.user-profile {
  max-width: 70%;
  margin: auto;

  &__first-line {
    display: flex;
    margin-top: 2rem;
  }

  &__user-wins {
    width: 7rem;

    .place-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__user-info {
    text-align: center;
  }

  &__y-axis-selector {
    margin: 1rem auto;
  }

  &__graphic-wrapper {
    max-width: 100%;
    margin: auto;
    height: 20rem;
  }
}


@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  .user-profile {
    font-size: 1.2rem;

    &__first-line {
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "md")) {
  .user-profile {
    &__first-line {
      font-size: 1.5rem;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 2rem auto 0 auto;
    }

    &__second-line {
      margin-top: 7rem;
    }
  }
}