@import "./../../../../utils/scss-variables/variables";

.link {
  color: $text-color;
  transition: opacity .2s;

  &:hover, &:focus {
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
  }

  &_transition-opacity {
    opacity: .5;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}