@import "../../../../../../utils/scss/variables";

.text-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  font-size: 1.4rem;
  padding: 0 0.5rem;

  .current-symbol {
    background-color: $green;
  }

  .passed-symbol {
    background-color: $gray;
  }

  .error-symbol {
    background-color: red;
  }
}