.start-button {
  font-size: 2rem;

  width: 20rem;
  height: 6rem;

  //-webkit-box-shadow: 9px 12px 5px 0 rgba(34, 60, 80, 0.23);
  //-moz-box-shadow: 9px 12px 5px 0 rgba(34, 60, 80, 0.23);
  //box-shadow: 9px 12px 5px 0 rgba(34, 60, 80, 0.23);

}