@import "../../../../../../utils/scss-variables/variables";

.keyboard {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  width: max-content;
  max-width: 100%;
  border-radius: 10px;

  &__char-row {
    display: flex;
    margin: auto;
    width: max-content;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .second-char-row {
    position: relative;
    right: 1rem;
  }

  .fourth-char-row {
    position: relative;
  }

  &__char-key {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: .2rem;
  }

  &__next-char {
    background-color: $green;
  }

  &__last-char_error {
    background-color: red;
  }

}

@media screen and (max-width: 1100px){
  .keyboard {

    &__char-key {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;

      &_left-shift, &_right-shift {
        width: 7rem;
      }

      &_with-shift {
        font-size: 1rem;
      }

      &_backspace {
        width: 6rem;
      }

      &_space {
        width: 20rem;
      }
    }
  }
}

@media screen and (min-width: 1100px){
  .keyboard {
    &__char-key {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2rem;

      &_left-shift, &_right-shift {
        width: 9rem;
      }

      &_with-shift {
        font-size: 1.6rem;
      }

      &_backspace {
        width: 10rem;
      }

      &_space {
        width: 20rem;
      }
    }
  }
}

