@import "../../../../utils/scss/variables";

.create-room-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: $content-min-height;
  font-size: 1.2rem;
  text-align: center;

  &__start-button {
    font-size: 2rem;
  }
}